*.o
*.core
core
anonmap
execbss
execdata
execheap
execstack
getamap
getarg1
getarg2
getheap1
getheap2
getmain1
getmain2
getshlib
getstack1
getstack2
mprotanon
mprotbss
mprotdata
mprotheap
mprotshbss
mprotshdata
mprotstack
paxtest
paxtest.log
randamap
randarg1
randarg2
randheap1
randmain1
randshlib
randstack1
randstack2
rettofunc1
rettofunc1x
rettofunc2
rettofunc2x
shlibbss
shlibdata
shlibtest.so
shlibtest2.so
writetext
